//- index.pug
block variables

doctype html
html.page(lang="ru")
  include ../includes/main/_head.pug

  body.page-body
    include ../includes/header-and-promo/_header-and-promo.pug

    block content

    include ../includes/footer/_footer.pug
    include ../includes/main/_scripts.pug
