//- catalog

extends ./layouts/layout-inner.pug
block variables
  - var title = 'Каталог продукции'

block content
  main.catalog
    .container
      h1.page__title #{title}

      include includes/catalog/_list-goods.pug
    include includes/catalog/_other-goods.pug

