doctype html
html.page(lang="ru")
  include includes/main/_head.pug
  body.page-body
    include includes/header-and-promo/_header.pug
    main.catalog
      .container
        h1 Каталог продукции

        include includes/catalog/_list-goods.pug
        include includes/catalog/_other-goods.pug

    include includes/footer/_contacts.pug
    include includes/footer/_footer.pug

    include includes/main/_scripts.pug
