//- form

extends ./layouts/layout-inner.pug
block variables
  - var title = 'Подбор программы'

block content
  main.page-form
    .container
      h1.page__title #{title}

    form.form(action="https://echo.htmlacademy.ru" method="get" target="_blank")
      .container
        p.form__caption Заполните анкету, и мы подберем программу питания для вашего кота

        .form__inner
          ul.form__base
            li
              label(for="form-name") ИМЯ:*
              input(type="text" id="form-name" name="form-name" placeholder="Барсик" required)
            li
              label(for="form-weight") Вес (кг):*
              input(type="text" id="form-weight" name="form-weight" placeholder="7" required)
            li
              label(for="form-age") Возраст (лет):
              input(type="text" id="form-age" name="form-age" placeholder="7")

          ul.form__theme
            li
              input.visually-hidden(id="theme-1" type="radio" name="form-theme" checked)
              label(for="theme-1") похудение
            li
              input.visually-hidden(id="theme-2" type="radio" name="form-theme")
              label(for="theme-2") Набор массы
            li
              input.visually-hidden(id="theme-3" type="radio" name="form-theme")
              label(for="theme-3") Не знаю (Нужен ваш совет)

      fieldset.form__wrapper
        legend.form__title
          h2 Контактные данные (владельца кота)

        ul.form__contacts.container
          li
            label(for="form-email") E-mail:*
            input(type="email" id="form-email" name="form-email" placeholder="кuklachev@gmail.com" required)
          li
            label(for="form-phone") Телефон:*
            input(type="tel" id="form-phone" name="form-phone" placeholder="8 (960) 900-60-90" required)

      fieldset.form__wrapper
        legend.form__title
          h3 Комментарий

        .form__comment.container
          label(for="form-mess" aria-label="Текст комментария:")
          textarea(id="form-mess" name="form-mess" cols="10" rows="5" placeholder="Расскажите обо всех повадках кота")

      fieldset.form__wrapper
        legend.form__title
          h3 Дополнительно

        ul.form__other-info.container
          li
            input.visually-hidden(id="info-1" type="checkbox" name="info-1" checked)
            label(for="info-1") сахарозаменитель
          li
            input.visually-hidden(id="info-2" type="checkbox" name="info-2")
            label(for="info-2") питьевая вода
          li
            input.visually-hidden(id="info-3" type="checkbox" name="info-3")
            label(for="info-3") молоко
          li
            input.visually-hidden(id="info-4" type="checkbox" name="info-4")
            label(for="info-4") витамины

      .form__footer.container
        button(type="submit") отправить заявку
        span * — Обязательные поля


