//- form

extends ./layouts/layout-inner.pug
block variables
  - var title = 'Подбор программы'

block content
  main.page-form
    .container
      h1.page__title #{title}

      form.form(action="https://echo.htmlacademy.ru" method="get" target="_blank")
        fieldset.form__wrapper
          legend Заполните анкету, и мы подберем программу питания для вашего кота
          ul.form__base
            li
              label(for="form-name") ИМЯ:*
                input(type="text" id="form-name" name="form-name" placeholder="Барсик" required)
            li
              label(for="form-weight") Вес (кг):*
                input(type="text" id="form-weight" name="form-weight" placeholder="7" required)
            li
              label(for="form-age") Возраст (лет):
                input(type="text" id="form-age" name="form-age" placeholder="7")

          ul.form__theme
            li
              input.visually-hidden(id="theme-1" type="radio" name="form-theme")
              label(for="theme-1") похудение
            li
              input.visually-hidden(id="theme-2" type="radio" name="form-theme")
              label(for="theme-2") Набор массы
            li
              input.visually-hidden(id="theme-3" type="radio" name="form-theme")
              label(for="theme-3") Не знаю (Нужен ваш совет)

        fieldset
          legend Контактные данные (владельца кота)

          ul.form__contacts
            li
              label(for="form-name") E-mail:*
                input(type="email" id="form-name" name="form-name" placeholder="кuklachev@gmail.com" required)
            li
              label(for="form-name") Телефон:*
                input(type="tel" id="form-name" name="form-name" placeholder="8 (960) 900-60-90" required)

        fieldset
          legend Комментарий

          label(for="form-mess" aria-label="Текст комментария:")
            textarea(id="form-mess" name="form-mess" cols="30" rows="10" placeholder="Расскажите обо всех повадках кота")

        fieldset
          legend Дополнительно

          ul.form__other-info
            li
              input.visually-hidden(id="info-1" type="checkbox" name="info-1" checked)
              label(for="info-1") сахарозаменитель
            li
              input.visually-hidden(id="info-2" type="checkbox" name="info-2")
              label(for="info-2") питьевая вода
            li
              input.visually-hidden(id="info-3" type="checkbox" name="info-3")
              label(for="info-3") молоко
            li
              input.visually-hidden(id="info-4" type="checkbox" name="info-4")
              label(for="info-4") витамины

        .form__footer
          button(type="submit") отправить заявку
          span * — Обязательные поля


