//- index.pug
doctype html
html.page(lang="ru")
  include includes/main/_head.pug
  body.page-body
    include includes/header-and-promo/_header-and-promo.pug
    include includes/_programs.pug
    include includes/_advantages.pug
    include includes/_demo.pug
    include includes/footer/_footer.pug

    include includes/main/_scripts.pug
