//- index.pug

extends ./layouts/layout.pug
block variables
  - var title = 'Главная страница'
  - var url = 'index'

block content
  include includes/main/_programs.pug
  include includes/main/_advantages.pug
  include includes/main/_example.pug
