//- index.pug

extends ./layouts/layout-index.pug
block variables
  - var title = 'Список страниц'
  - var url = 'index'

block content
  h1 Список страниц
  ul
    li
      a(href="main.html") Главная
    li
      a(href="catalog.html") Каталог продукции
    li
      a(href="form.html") Подбор программы
