.advantages {
  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;
    @include adaptiv-font(60, 36);

    @media (min-width: $table) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__list {
    @include ListReset();
    counter-reset: item;

    display: grid;

    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: 95px;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 95px;
    }
  }

  &__item {
    position: relative;
    padding: 0;
    padding-left: 80px;
    margin: 0 auto 20px;

    min-height: 60px;

    font-family: $mainFont;
    font-size: 14px;
    line-height: 18px;

    color: $special-dark-grey;

    @media (min-width: $mobile) {
      padding: 30px 0;
      padding-top: 110px;
      margin: 0 auto;
      max-width: 245px;

      font-size: 16px;
      line-height: 24px;
    }
  }

  &__item::before {
    @media (min-width: $mobile) {
      counter-increment: item;
      content: counter(item);

      z-index: -1;
      position: absolute;
      right: 0;
      top: 0;

      font-family: $mainFontPrimary;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
    }
  }

  &__item--icon-1::after,
  &__item--icon-2::after,
  &__item--icon-3::after,
  &__item--icon-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-color: $basic-green;

    @media (min-width: $table) {
      width: 80px;
      height: 80px;
    }
  }

  &__item--icon-2::after {
    background-image: url("../../img/icons/icon-2.svg");
  }
  &__item--icon-3::after {
    background-image: url("../../img/icons/icon-3.svg");
  }
  &__item--icon-4::after {
    background-image: url("../../img/icons/icon-4.svg");
  }

  &__icon {
    fill: none;
  }
}
