:root {
  --gap: 80px;
  --column: 1;

  @media (min-width: $mobile-xs) {
    --column: 2;
  }

  @media (min-width: $table3) {
    --gap: 40px;
    --column: 3;
  }

  @media (min-width: $desktop) {
    --column: 4;
  }
  @media (min-width: $maxWidth) {
    --gap: 80px;
  }
}

.catalog {
  padding-top: 30px;

  &__list {
    display: grid;

    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(100% / var(--column) - var(--gap)), 1fr)
    );
    padding-top: 45px;
    padding-bottom: 45px;
    transition: $transition-base;

    @media (max-width: $mobile) {
      margin: 0 -20px;
    }

    @media (min-width: $mobile) {
      gap: var(--gap);
    }

    @media (min-width: $desktop) {
      row-gap: 65px;

      padding-top: 40px;
    }
  }

  &__item {
    transition: $transition-base;
  }

  &__more {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 40px;
    padding-top: 50px;
    height: calc(100% - 80px);
    max-width: 324px;
    text-align: center;
    border: 2px solid $basic-grey;
  }

  &__more-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  &__more-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 110%;
    color: $special-dark-grey-3;
    text-transform: uppercase;
  }

  &__more-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 112%;
    color: $special-dark-grey;
  }

  &__more-link {
    width: 100%;
    margin-top: auto;

    @include Link(10px, $special-dark-grey, $basic-grey);

    font-size: 16px;
    line-height: 100%;

    &:focus,
    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      opacity: $opacity-base;
    }
  }
}
