.contacts {
  position: relative;

  @media (min-width: $desktop) {
    padding: 95px 0 104px;
  }

  &__wrapper {
    padding: 0;

    @media (min-width: $table) {
      padding: 0 30px;
    }
  }

  &__info {
    z-index: 2;
    position: relative;
    padding: 28px 20px;

    display: flex;
    flex-wrap: wrap;
    background-color: $default-color;
    color: $special-dark-grey;

    @media (min-width: $table) {
      padding: 60px 40px 60px;
    }
    @media (min-width: $desktop) {
      padding: 60px 75px 50px;
      max-width: 570px;
    }
  }

  &__title {
    margin: 0;
    width: 50%;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
    text-transform: uppercase;

    @media (min-width: $table) {
      font-size: 20px;
      line-height: 21px;
    }
  }

  &__text {
    width: 50%;
    max-width: 160px;
    margin-left: auto;

    font-size: 14px;
    line-height: 20px;

    @media (min-width: $table) {
      width: 40%;
      font-size: 16px;
    }
  }

  &__street {
    margin: 0;

    font-family: $mainFont;
    color: inherit;

    @media (min-width: $table) {
      margin-bottom: 20px;
    }
  }

  &__city {
    margin: 0;
    font-family: $mainFont;
    color: inherit;
  }

  & iframe {
    width: 100%;
    height: 100%;
    min-height: 362px;

    @media (min-width: $table) {
      min-height: 400px;
    }

    @media (min-width: $desktop) {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
