.demo {
  position: relative;
  padding-top: 70px;

  &__title {
    margin: 0;
    margin-bottom: 75px;
    font-size: 60px;
    line-height: 100%;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $basic-grey;
  }

  &__info {
    padding-top: 70px;
    max-width: 440px;
  }

  &__text {
    margin: 0;
    margin-bottom: 70px;
    font-family: $mainFont;
    font-size: 16px;
    line-height: 150%;
    color: $special-dark-grey;
  }
}
