.form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__wrapper {
    max-width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
  }

  &__caption {
    margin: 0;
    padding-bottom: 35px;
    max-width: 323px;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__title {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $table) {
      padding: 0 70px;
    }

    &::before {
      content: "";
      z-index: -2;
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $basic-green;

      @media (min-width: $table) {
        left: 0;
      }
    }

    & h2,
    & h3 {
      display: inline-block;
      margin: 0 75px 0 0;
      padding: 20px;
      padding-left: 0;
      @include adaptiv-font(36, 24);
      line-height: 100%;
      background-color: $default-color;

      @media (min-width: $table) {
        margin: 0;
        padding: 30px 35px 40px 40px;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $table) {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__base {
    @include ListReset();
    padding: 30px 0;

    & li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
    }

    & input {
      width: calc(100% - 5%);
      margin-left: 5%;
      @include field(10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;
    }
  }

  &__theme {
    @include ListReset();
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    @media (min-width: $table) {
      padding: 25px 28px;
      border: 1px solid #e7e7e7;
    }

    & label {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: 60px;
      padding-top: 5px;
      margin-bottom: 15px;
      min-height: 40px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: $special_dark-grey-2;
      cursor: pointer;
    }

    & input:checked + label[for^="theme-"]::before {
      @include customInputCheck(11px, 18px, 18px, 50%, $basic-green);
    }

    & label[for^="theme-"]::after {
      @include customInput(40px, 40px, 1px, 50%, #cdcdcd);
    }
  }

  &__contacts {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $table) {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }

    & li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    & input {
      width: 80%;
      margin-left: 3%;

      @include field(10px 45px 10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;

      @media (min-width: $table) {
        margin-left: 7%;
      }
    }

    & input[type="email"] {
      background: url("../img/icons/icon-email.svg") no-repeat;
      background-position: calc(100% - 20px) 50%;
      background-size: auto;
    }

    & input[type="tel"] {
      background: url("../img/icons/icon-phone.svg") no-repeat;
      background-position: calc(100% - 20px) 50%;
      background-size: auto;
    }
  }

  &__comment {
    & textarea {
      width: 100%;
      min-height: 175px;
      @include field(10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;
      resize: none;
    }
  }

  &__other-info {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 30px;

    @media (min-width: $table) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    & label {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: 60px;
      padding-top: 5px;
      margin-bottom: 15px;
      min-height: 40px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: $special_dark-grey-2;
      cursor: pointer;
    }

    & input:checked + label[for^="info-"]::before {
      @include customInputCheck(11px, 18px, 18px, 0, transparent);
      background-image: url("../img/icons/icon-check.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    & label[for^="info-"]::after {
      @include customInput(40px, 40px, 1px, 0, #cdcdcd);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $table) {
      padding-top: 30px;
      padding-bottom: 80px;
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & button[type="submit"] {
    margin-bottom: 20px;
    @include Button(13px, 0, $default-color, $basic-green);
    text-transform: uppercase;
  }
}
