.form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__wrapper {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &__caption {
    margin: 0;
    padding-bottom: 35px;
    max-width: 323px;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__title {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $table) {
      padding: 0 70px;
    }

    &::before {
      content: "";
      z-index: -2;
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $basic-green;

      @media (min-width: $table) {
        left: 0;
      }
    }

    & h2,
    & h3 {
      display: inline-block;
      margin: 0 75px 0 0;
      padding: 20px;
      padding-left: 0;
      @include adaptiv-font(36, 24);
      line-height: 100%;
      background-color: $default-color;

      @media (min-width: $table) {
        margin: 0;
        padding: 30px 35px 40px 40px;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop) {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__base {
    @include ListReset();
    padding: 30px 0;

    & li {
      display: grid;
      grid-template-columns: max-content auto;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
    }

    & input {
      margin-left: 10%;
      @include field(10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;
    }
  }

  &__theme {
    @include ListReset();
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    @media (min-width: $table) {
      padding: 25px 28px;
      border: 1px solid #e7e7e7;
    }

    & label {
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: $special_dark-grey-2;
    }
  }

  &__contacts {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop) {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }

    & li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    & input {
      width: 80%;
      margin-left: 7%;
      @include field(10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;
    }
  }

  &__comment {
    & textarea {
      width: 100%;
      min-height: 175px;
      @include field(10px 20px, $special_dark-grey, #e7e7e7);
      @include adaptiv-font(20, 16);
      line-height: 150%;
      resize: none;
    }
  }

  &__other-info {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 30px;

    @media (min-width: $table) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__footer {
    padding-top: 30px;
    padding-bottom: 80px;

    display: grid;
    grid-template-columns: 1fr;


    @media (min-width: $desktop) {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & button[type="submit"] {
    @include Button(13px, 0, $default-color, $basic-green);
    text-transform: uppercase;
  }
}
