.gift {
  max-width: 100%;
  padding: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $basic-green;
  background-image: url("../../img/gift/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: $default-color;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-photo-mobile@2x.jpg");
    // background-size: 280px auto;
  }

  @media (min-width: $mobile) {
    background-image: url("../img/gift/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift/gift-photo-tablet@2x.jpg");
      // background-size: 708px auto;
    }
  }

  @media (min-width: $table) {
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    max-width: 245px;
    flex-direction: column;
    background-image: url("../img/gift/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift/gift-photo-desktop@2x.jpg");
      // background-size: 245px auto;
    }
  }

  &__icon {
    width: 80px;
    height: 84px;
  }

  &__text {
    max-width: 161px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-align: center;

    @media (min-width: $table) {
      text-align: left;
    }

    @media (min-width: $desktop) {
      text-align: center;
    }
  }
}
