.header-and-promo {
  position: relative;

  &__header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    @media (min-width: $mobile) {
      z-index: 2;
      position: absolute;
    }
  }
}
