.page {
  // background-image: url("../img/template/Desktop.jpg");
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  // background-size: 1440px 2809px;
  height: 100%;



  &__title {
    // @include pageTitle(60, 36);

    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 100%;

    @media (min-width: $table) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
}
