.page-header {
  @media (min-width: $table) {
    padding-top: 36px;
    padding-bottom: 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 50%;
    align-items: center;
  }

  &__nav {
    margin-left: auto;
  }
}
