.programs {
  @media (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 35px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @media (min-width: $table2) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @media (min-width: $desktop) {
      gap: 80px;
    }
  }

  &__item {
    display: grid;

    grid-template-columns: auto 1fr;

    grid-template-areas:
      "icon title"
      "text text"
      "link link";

    column-gap: 20px;

    padding: 43px 30px 40px 33px;
    background-color: $basic-grey;

    @media (min-width: $mobile) {
      grid-template-columns: minmax(377px) 1fr;

      grid-template-areas:
        "title icon"
        "text icon"
        "link icon";
    }

    @media (min-width: $table2) {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "icon title"
        "text text"
        "link link";

        padding: 43px 30px 57px 33px;
    }
  }

  &__icon {
    grid-area: icon;

    width: 50px;
    height: 53px;

    @media (min-width: $mobile) {
      width: 200px;
      height: 211px;
    }
    @media (min-width: $table2) {
      width: 100px;
      height: 106px;
    }

    @media (min-width: $desktop) {
      margin-left: 20px;
      margin-right: 40px;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__icon--pro {
    width: 67px;
    height: 50px;

    @media (min-width: $mobile) {
      width: 268px;
      height: 200px;
    }
    @media (min-width: $table2) {
      width: 134px;
      height: 100px;
    }

    @media (min-width: $desktop) {
      margin-left: 0;
      margin-top: 5px;
      margin-right: 27px;
    }
  }

  &__title {
    grid-area: title;
    align-self: center;
    margin: 0;
    font-family: $mainFontPrimary;
    font-size: 24px;
    line-height: 37px;

    text-transform: uppercase;

    @media (min-width: $mobile) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__text {
    grid-area: text;
    margin: 0;
    margin-bottom: 23px;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 18px;
    color: $special-dark-grey;

    @media (min-width: $mobile) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop) {
      padding-top: 43px;
      padding-left: 17px;
    }
  }

  &__link {
    grid-area: link;
    display: inline-block;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    color: $basic-black;
    text-transform: uppercase;
    text-decoration: none;

    @media (min-width: $mobile) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop) {
      padding-left: 17px;
    }

    & svg {
      margin-left: 25px;
    }
  }
}
