.promo {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $table) {
    padding-top: 140px;
  }

  &::before {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 305px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 0;
    background-image: url("../img/promo/promo-bg-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/promo-bg-mobile@2x.jpg");
    }

    @media (min-width: $mobile) {
      width: 0;
    }

    @media (min-width: $desktop) {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 720px 100%;
      background-image: url("../img/promo/promo-bg-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo/promo-bg-desktop@2x.jpg");
      }
    }
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 305px;
    background-color: $basic-green;
    opacity: 0.85;

    @media (min-width: $mobile) {
      width: 0;
      height: 0;
    }

    @media (min-width: $desktop) {
      width: 50%;
      height: 100%;
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop) {
      grid-template-columns: 1fr 63%;
    }
  }

  &__info {
    max-width: 415px;
    text-align: center;
    // background-color: $basic-green;
    color: $default-color;

    @media (min-width: $mobile) {
      padding-top: 30px;
      margin-left: 80px;
      text-align: left;
      background-color: transparent;
      color: $basic-black;
    }

    @media (min-width: $desktop) {
      padding-top: 110px;
      margin-left: 0;
    }

    & p {
      margin: 0;
      padding-bottom: 30px;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;

      @media (min-width: $mobile) {
        padding-bottom: 50px;
      }
    }
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    font-size: 20px;
    line-height: 20px;
    @include Link(14px 26px, $default-color, $basic-green);

    @media (min-width: $mobile) {
      position: relative;
      width: auto;
      left: 0;
      transform: translateX(0);
    }
  }

  &__pic {
    width: 280px;
    height: 270px;
    margin-bottom: 60px;

    @media (min-width: $mobile) {
      margin-top: -10%;
      margin-bottom: auto;
      position: relative;
      z-index: -1;
      text-align: center;
    }

    @media (min-width: $table) {
      width: 709px;
      height: 609px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      z-index: 0;
      text-align: left;
      width: 552px;
      height: 499px;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
