.social {
  @include ListReset();

  display: flex;
  flex-wrap: wrap;

  align-items: center;

  &__item {
    margin-right: 28px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link svg {
    fill: $special-grey-2;
    stroke-width: 0;

    &:focus,
    &:hover {
      fill: $basic-green;
    }

    &:active {
      opacity: $opacity-base;
    }
  }

  &__link--vk {
    width: 28px;
    height: 20px;
  }

  &__link--inst {
    width: 23px;
    height: 23px;
  }

  &__link--fb {
    width: 28px;
    height: 33px;
  }

  &__link--fb svg {
    fill: none;
    stroke: $special-dark-grey-2;
    stroke-width: 1px;

    &:focus,
    &:hover {
      fill: none;
      stroke: $basic-green;
    }
  }

}
