include ../../mixins/picture.pug

header.page-header
  include ../main/_navigation.pug
  //- .page-header__wrapper
    //- a.page-header__logo(href="#")
    //-   +picture({
    //-     src: "img/logo/logo-desktop.png",
    //-     alt: "Логотип компании",
    //-     width: "202",
    //-     height: "60",
    //-     list: [
    //-       {

    //-         srcset: "img/logo/logo-desktop.webp 1x, img/logo/logo-desktop@2x.webp 2x"
    //-       },
    //-       {
    //-         media: "max-width: 1200px",
    //-         srcset: "img/logo/logo-tablet.webp 1x, img/logo/logo-tablet@2x.webp 2x"
    //-       },
    //-       {
    //-         media: "max-width: 767px",
    //-         srcset: "img/logo/logo-mobile.webp 1x, img/logo/logo-mobile@2x.webp 2x"
    //-       },
    //-     ]
    //-   })
    //-   //- img(src="img/logo.svg" alt="Логотип компании")

    .page-header__nav
      include ../main/_navigation.pug
