header.page-header
  .container.page-header__wrapper
    a.page-header__logo(href="#")
      img(src="img/logo.svg", alt="Логотип компании")

    .page-header__nav
      include ../main/_navigation.pug
