nav.navigation
  button.navigation__toggle(type="button")
  ul.navigation__list
    li.navigation__item
      a(href="#") Главная
    li.navigation__item
      a(href="catalog.html") Каталог продукции
    li.navigation__item
      a(href="form.html") Подбор программы
