nav.navigation
  ul.navigation__list
    li.navigation__item
      a(href="#") Главная
    li.navigation__item
      a(href="#") Каталог продукции
    li.navigation__item
      a(href="#") Подбор программы
