section.promo
  .container
    .promo__info
      h1 Функциональное питание для котов
      p Занялся собой? Займись котом!
      a(href="#") подобрать программу
    .promo__pic
      img(src="img/promo/promo-can.png", alt="can" width="552" height="499")
