include ../../mixins/picture.pug

section.promo.container
  .promo__wrapper
    .promo__info
      h1.page__title Функциональное питание для котов
      p Занялся собой? Займись котом!
      a.promo__link(href="form.html") подобрать программу
    .promo__pic
      +picture({
        list: [
          {
            type: "image/webp",
            media: "(min-width: 1200px)",
            srcset: "img/promo/promo-can.webp 1x, img/promo/promo-can@2x.webp 2x"
          },
          {
            type: "image/webp",
            media: "(min-width: 768px)",
            srcset: "img/promo/promo-can-tablet.webp 1x, img/promo/promo-can-tablet@2x.webp 2x"
          },

        ],
        src: "img/promo/promo-can-mobile.png",
        srcset: "img/promo/promo-can-mobile.webp 1x, img/promo/promo-can-mobile@2x.webp 2x",
        alt: "Функциональное питание",
        width: "280",
        height: "270"
      })
