section.contacts(class=(url == 'main' ? 'contacts--info-bg' : ''))
  .container.contacts__wrapper
    .contacts__info
      h3.contacts__title приглашаем
        br
        | к сотрудничеству
        br
        | дилеров!

      .contacts__text
        p.contacts__street ул. Большая
          br
          | Конюшенная, д. 19/8
        p.contacts__city Санкт-Петербург
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63846.578024267925!2d30.35411705!3d59.9950849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1637092738564!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

