footer.page-footer
  .container.page-footer__wrapper
    a(href="#").page-footer__item
      img(src="img/footer/footer-logo.svg", alt="logo" width="128" height="24")

    .page-footer__item
      include _social.pug

    a(href="#").page-footer__item
      img(src="img/footer/logo_html.svg", alt="logo" width="163" height="34")

