footer.page-footer
  include _contacts.pug
  .container
    a(href="#").page-footer__logo
      img(src="img/footer/footer-logo.svg", alt="logo" width="128" height="24")

    include _social.pug

    a(href="#").page-footer__logo
      img(src="img/footer/logo_html.svg", alt="logo" width="163" height="34")

