include ../../mixins/svg_icon.pug

ul.social
  li.social__item
    a.social__link.social__link--vk(href="#")
      +svg_icon(("../img/sprite.svg"), "icon-vk", "28", "20")
  li.social__item
    a.social__link.social__link--inst(href="#")
      +svg_icon(("../img/sprite.svg"), "icon-inst", "23", "23")
  li.social__item
    a.social__link.social__link--fb(href="#")
      +svg_icon(("../img/sprite.svg"), "icon-fb", "28", "33")
