@mixin BtnReset {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: $transition-base;
}

@mixin ListReset {
  padding: 0;
  margin: 0;
  list-style: none;
}
