// Глобальные переменные
// Font
$mainFont: "Arial", sans-serif;
$mainFontPrimary: "Oswald", "Arial", sans-serif;

//
$table: 767px;
$mobile: 600px;
$desktop: 1200px;

// Size
$mainFontSize: 16px;
$mainLineHeight: 24px;
$mainFontWeight: 400;

// Main color
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;

$default-color: #ffffff;
$text-color: $basic-black;
$footer-border-color: #d9d9d9;

$transition-base: 0.5s;
$opacity-base: 0.3;

