section.demo
  .container
    h2.demo__title Живой пример

  .demo__body
    .container
      .demo__info
        p.demo__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.

        .demo__data
          .demo__data-item 5 КГ
            span снижение веса
          .demo__data-item 60 ДНЕЙ
            span затрачено времени

        p.demo__cost Затраты на питание:
          span 15 000 РУБ.

    .demo__slider
