section.example
  .example__wrapper.container
    h2.example__title Живой пример

  .example__body
    .container
      .example__info
        p.example__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.

        .example__data
          .example__data-item 5 КГ
            span снижение веса
          .example__data-item 60 ДНЕЙ
            span затрачено времени

        p.example__cost Затраты на питание:
          span 15 000 РУБ.

      .example__comparison.example-comparison
        img(src="img/example/cat-fat.png", class="example-comparison__item" alt="фото до" width="677" height="520")
        img(src="img/example/cat-skinny.png", class="example-comparison__item example-comparison__item--new" alt="фото после" width="545" height="520")
        .range-controls
          .scale
            .bar
          .toggle(tabindex="0")

