//- includes/head.pug
head
  meta(charset="UTF-8")
  title Магазин готовых шаблонов
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="description" content="Магазин готовых шаблонов")
  link(rel="stylesheet" href="css/style.min.css")
  link(rel="icon" href="favicon.ico" )
  link(rel="icon" href="img/favicons/icon.svg" type="image/svg+xml" )
  link(rel="apple-touch-icon" href="img/favicons/152.png")
  link(rel="manifest" href="manifest.webmanifest")
