include ../../mixins/svg_icon.pug
include ../../mixins/picture.pug

section.programs
  .container.programs__wrapper
    article.programs__item
      .programs__icon
        +picture({
          list: [
            {
              media: "(min-width: 1200px)",
              srcset: "img/programs/cat_slim-desktop.svg"
            },
            {
              media: "(min-width: 600px)",
              srcset: "img/programs/cat_slim-table.svg"
            }
          ],
          src: "img/programs/cat_slim-mobile.svg",
          alt: "Логотип программы - похудение",
          width: "50",
          height: "53"
        })


      h3.programs__title похудение
      p.programs__text Ваш кот весит больше собаки и почти утратил способность
        |  лазить по деревьям? Пора на диету! Cat Energy Slim поможет
        |  вашему питомцу сбросить лишний вес.
      a.programs__link(href="#") каталог slim
        +svg_icon(("../img/sprite.svg"), "icon-arrow", "24", "12")


    article.programs__item
      .programs__icon.programs__icon--pro
        +picture({
          list: [
            {
              media: "(min-width: 1200px)",
              srcset: "img/programs/cat_pro-desktop.svg"
            },
            {
              media: "(min-width: 600px)",
              srcset: "img/programs/cat_pro-table.svg"
            }
          ],
          src: "img/programs/cat_pro-mobile.svg",
          alt: "Логотип программы - набор массы",
          width: "67",
          height: "50"
        })
      h3.programs__title набор массы
      p.programs__text Заработать авторитет среди дворовых котов и даже собак?
        |  Серия Cat Energy Pro поможет вашему коту нарастить
        |  необходимые мышцы!

      a.programs__link(href="#") каталог pro
        +svg_icon(("../img/sprite.svg"), "icon-arrow", "24", "12")
